body {
  background: lightgray;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
}

.options__container {
  width: 800px;
  height: 100vh;
}

.options__project-mapping {
  width: 100%;
  height: 300px;
  resize: none;
}

.options__title {
  font-size: 32px;
  text-align: center;
}
